<article class="numbertotal">
  <div>
  <span class="numbert"><i class="far fa-file-code"></i> {{this.numberpost}}</span><br />
    <span class="total">temas totales</span>
    </div>
      <div>
  <span class="numbert"><i class="far fa-comments"></i>  {{this.numbercomment}}</span><br />
    <span class="total">mensajes totales</span>
    </div>
      <div>
  <span class="numbert"><i class="fas fa-users"></i>  {{this.numberegister}}</span><br />
    <span class="total">usuario registrados</span>
    </div>
</article>

<article class="mensaje-welcome">
    {{#if userInfo}}
  <div class="mensajito-no">
    <i class="fas fa-cat"></i> Usted esta logeado y puede acceder a todas las funcionalidad, gracias por probar la App :D
  </div>
  {{else}}
  <div class="mensajito-no">
    <i class="fas fa-mug-hot"></i> Hola para acceder a todas las funcionalidad tienes que registrarte
  </div>
  {{/if}}
</article>


<article class="posteos">
<div class="thead">Preguntas e Dudas</div>
<div class="todo-posts">
{{#each usersreverse}}
<div class="los-posteos">
<div class="el-icono"><i class="far fa-file-code"></i></div>
<div class="titulo"><a href="posts/{{this._id}}">{{this.titulo}}</a><br />
<span>Por: {{this.userid}} - {{this.fecha}}</span>
</div>
<div class="cheboxes">
  <ul>
  {{#each categoria}}
    <li class="{{this}}">{{this}}</li>
  {{/each}}
  </ul>
</div>
  {{#if userInfo}}
  <div class="editar"><a href="/editar/{{this._id}}"><i class="fas fa-edit"></i></a></div>
 {{else}} t1 {{/if}}
</div>


{{/each}}
</div>
</article>
